
<div class="card">
    <div class="card-header bg-primary text-white text-center">
        <h3>Companies Details</h3>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr class="bg-info text-center text-white">
                    <td>ID</td>
                    <td>Name</td>
                    <td>Gender</td>
                    <td>Pan card</td>
                    <td>Aadhar card</td>
                    <td>Email</td>
                    <td>Mobile</td>
                    

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of customers" class="text-center">
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.gender}}</td>
                    <td>{{c.pancard}}</td>
                    <td>{{c.aadharId}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.mobile}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
