<div class="card">
    <div class="card-header bg-primary text-white text-center">
        <h3>Companies Details</h3>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr class="bg-info text-center text-white">
                    <td>ID</td>
                    <td>Name</td>
                    <td>Register ID</td>
                    <td>Type</td>
                    <td>Parent org</td>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of companies" class="text-center">
                    <td>{{c.id}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.comRegId}}</td>
                    <td>{{c.comType}}</td>
                    <td>{{c.parentOrg}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<p *ngFor="let d of companies">{{d.id}}</p>