
<div class="card">
    <div class="card-header bg-primary text-center text-white">
        <h3>CUSTOMERS REGISTER</h3>
    </div>

    <div class="card-body">
        <form (ngSubmit)="createCustomer()">
            <div class="row">
                <div class="col-3">
                  <label> Customer Name</label>
                </div>
                <div class="col-4">
                  <input
                    type="text"
                    name="name"
                    id="name"
                    [(ngModel)]="customer.name"
                    class="form-control"
                  />
                </div>
              </div>

              
              <div class="row">
                <div class="col-3">
                  <label> Customer Email</label>
                </div>
                <div class="col-4">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    [(ngModel)]="customer.email"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                  <label> Customer Gender</label>
                </div>
                <div class="col-4">
                  <input
                    type="radio"
                    name="gender"
                    id="gender1"
                    [(ngModel)]="customer.gender"
                    value="MALE"
                  />
                  Male
                  <input
                    type="radio"
                    name="gender"
                    id="gender2"
                    [(ngModel)]="customer.gender"
                    value="FEMALE"
                  />
                  Female
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                  <label> Customer ImagePath</label>
                </div>
                <div class="col-4">
                  <input
                    type="text"
                    name="imagePath"
                    id="imagePath"
                    [(ngModel)]="customer.imagePath"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                  <label> Customer Mobile</label>
                </div>
                <div class="col-4">
                  <input
                    type="text"
                    name="mobile"
                    id="mobile"
                    [(ngModel)]="customer.mobile"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                  <label> Customer PAN card</label>
                </div>
                <div class="col-4">
                  <input
                    type="text"
                    name="pan"
                    id="pan"
                    [(ngModel)]="customer.pancard"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-3">
                  <label> Customer Aadhar card</label>
                </div>
                <div class="col-4">
                  <input
                    type="text"
                    name="aadhar"
                    id="aadhar"
                    [(ngModel)]="customer.aadharId"
                    class="form-control"
                  />
                </div>
              </div>

              <button type="submit" class="btn btn-success">Create</button>

        </form>
    </div>

    <div class="card-footer bg-white text-success">
        {{message}}
    </div>
</div>